TELEGRAM_BOT_TOKEN=123456789:replace_with_bot_token
TELEGRAM_CHAT_ID=replace_with_chat_id
TELEGRAM_CHAT_IDS=replace_with_chat_id,replace_with_second_chat_id
ADMIN_API_TOKEN=replace_with_64_hex_characters
AUTH_SECRET=replace_with_at_least_32_random_characters
DEVELOPMENT_MODE=true
PERSONAL_DATA_LOCALIZED=false
SMSRU_API_ID=replace_with_smsru_api_id
SMSRU_FROM=JELANI
TELEGRAM_BOT_USERNAME=replace_with_bot_username_without_at
YANDEX_CLIENT_ID=replace_with_yandex_id_client_id
YANDEX_CLIENT_SECRET=replace_with_yandex_id_client_secret
VK_CLIENT_ID=replace_with_vk_id_app_id
VK_CLIENT_SECRET=replace_with_vk_id_secret_if_required
OK_CLIENT_ID=replace_with_ok_vk_id_app_id
OK_CLIENT_SECRET=replace_with_ok_vk_id_secret_if_required
MAILRU_CLIENT_ID=replace_with_mailru_site_id
MAILRU_CLIENT_SECRET=replace_with_mailru_secret
MAILRU_AUTH_URL=https://oauth.mail.ru/login
MAILRU_TOKEN_URL=https://oauth.mail.ru/token
MAILRU_USERINFO_URL=https://oauth.mail.ru/userinfo
MAILRU_SCOPE=userinfo
MAX_BOT_TOKEN=replace_with_max_mini_app_bot_token
MAX_MINI_APP_URL=replace_with_max_mini_app_launch_url
MAX_CLIENT_ID=replace_when_max_oauth_is_available
MAX_CLIENT_SECRET=replace_when_max_oauth_is_available
MAX_AUTH_URL=replace_with_official_max_authorize_url
MAX_TOKEN_URL=replace_with_official_max_token_url
MAX_USERINFO_URL=replace_with_official_max_userinfo_url
YOOKASSA_SHOP_ID=replace_with_shop_id
YOOKASSA_SECRET_KEY=replace_with_secret_key
YOOKASSA_PAYMENT_METHODS=bank_card,sbp
YOOKASSA_RECEIPTS=true
YOOKASSA_VAT_CODE=1
YOOKASSA_PAYMENT_SUBJECT=commodity
PUBLIC_SITE_URL=https://jjelani.ru
PAYMENT_CREATION_TIMEOUT_MINUTES=30
PORT=8787
